# Archivos .gitignore para un proyecto LaTeX

# Ignora los archivos generados por la compilación de LaTeX
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.lof
*.lot

*.fdb_latexmk
*.fls

# Ignora los archivos generados por BibTeX
*.bbl
*.blg

# Ignora los archivos generados por pdfTeX
*.pdf

# Ignora los archivos de respaldo de editores de texto
*~

# Ignora los archivos de macOS
.DS_Store
